{% extends 'app_perros/base.html' %}

{% load static %}
{% block contenido %}

  <header>
    <nav>
      <ul>
        <li>
          {% if avatar %}
            <div class="avatar-container">
              <img class="avatar-image" src="{{ avatar.imagen.url }}" alt="Avatar">
            </div>
          {% else %}
            <div class="avatar-container">
              <img class="avatar-image" src="{% static 'avatar/default-avatar.png.jpg' %}" alt="Default Avatar">
            </div>
          {% endif %}
          <span>{{ request.user.username }}</span>
        </li>
        <!-- Resto de los elementos del menú -->
      </ul>
    </nav>
  </header>

  <section>
    <!-- Contenido de la página -->
    <h3>Editar avatar:</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Guardar"/>
    </form>
  </section>

  <style>
    .avatar-container {
      display: flex;
      align-items: center;
    }

    .avatar-image {
      width: 100px; /* Ancho deseado */
      height: 100px; /* Alto deseado */
      border-radius: 50%; /* Para hacer la imagen circular */
      object-fit: cover; /* Ajusta la imagen para que se ajuste al tamaño del contenedor */
      margin-right: 8px; /* Espacio entre la imagen y el nombre de usuario */
    }
  </style>

{% endblock contenido %}