{% extends 'app_perros/base.html' %}


{% block contenido %}
{% load static %}
  <header>
    <nav>
      <ul>
       <li>
  {% if avatar %}
    <div class="avatar-container">
      <div class="avatar-image">
        <img src="{{ avatar.imagen.url }}" alt="Avatar">
      </div>
    </div>
  {% else %}
    <div class="avatar-container">
      <div class="avatar-image">
        <img src="{% static 'avatar/default-avatar.png.jpg' %}" alt="Default Avatar">
      </div>
    </div>
  {% endif %}
  <span>{{ request.user.username }}</span>
</li>
        <!-- Resto de los elementos del menú -->
      </ul>
    </nav>
  </header>

  <section>
    <!-- Contenido de la página -->
    <h3>Editar avatar:</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Guardar"/>
    </form>
  </section>

  <style>
    .avatar-container {
      display: flex;
      align-items: center;
    }

    .avatar-image {
      width: 100px; /* Ancho deseado */
      height: 100px; /* Alto deseado */
      border-radius: 50%; /* Para hacer la imagen circular */
      overflow: hidden; /* Oculta cualquier parte de la imagen que supere los límites del contenedor circular */
    }

    .avatar-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  </style>

{% endblock contenido %}