{% extends "app_perros/base.html" %}

{% block contenido %}
{% load static %}

    <h1 style="width: 100%; text-align: center; margin: 0px 0px 72px 0px; font-weight: bold;">
        Acerca de Nosotros
    </h1>

    <div style="display: flex; justify-content: space-around; width: 100%; align-items: center;">
        <div style="width: 30%; text-align: center;">
            <img src="{% static 'image/huella.png' %}" alt="Foto de Nico" style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover;"/>
        </div>
        
        <p style="margin: 20px; text-align: justify; background-color: white; padding: 25px; border-radius: 10px;">
            ¡Hola! Somos un equipo de cuatro emprendedores apasionados por los animales y la tecnología. 
            Nuestra misión es ayudar a que los perros encuentren una familia amorosa y un hogar seguro. 
            Creemos que cada perro merece una segunda oportunidad, y trabajamos incansablemente 
            para facilitar su adopción mediante nuestra plataforma. 
           

           
            <br/><br/> 
            Nuestro objetivo es proporcionar una solución eficiente y fácil de usar para los refugios de animales. 
            Esta página web es un prototipo que planeamos ofrecer a refugios de todo el país, permitiéndoles 
            gestionar sus procesos de adopción de manera más efectiva. Nos dedicamos a crear un impacto 
            positivo en la vida de los perros y sus futuros dueños, y esperamos que nuestra plataforma 
            contribuya a que muchos más perros encuentren el amor y el hogar que merecen. 
            ¡Gracias por apoyarnos en esta misión!
        </p>
    </div>

{% endblock contenido %}