{% extends "app_perros/base.html" %}

{% block main %}

    {% load static %}
    <h1 style="width: 100%; text-align: center; margin: 0px 0px 72px 0px; font-weight: bold;">
        Acerca de mi
    </h1>

    <div style=" display: flex; justify-content: space-around; width: 100%; align-items: center;">
        
        <p style=" margin: 20px; text-align: justify; background-color: white; padding: 25px; border-radius: 10px;">
            ¡Hola! Me llamo Nicolás. Soy Argentino de Las Varillas provincia de Córdoba. Soy músico independiente, toco batería y guitarra y me encanta la programación.
            También soy fanático de la pesca y muy familiero.
            <br/><br/> 
            Actualmente este proyecto web fue desarrollado con el fin de aprender Python y Django. Espero que les guste y lo puedan disfrutar. ¡Saludos!
        </p>
        
    </div>

{% endblock main %}
