{% extends "app_perros/base.html" %}

{% block contenido %}
{% load static %}

    <h1 style="width: 100%; text-align: center; margin: 0px 0px 72px 0px; font-weight: bold;">
        Acerca de mi
    </h1>

    <div style="display: flex; justify-content: space-around; width: 100%; align-items: center;">
        <div style="width: 30%; text-align: center;">
            <img src="{% static 'image/foto-nico.jpg' %}" alt="Foto de Nico" style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover;"/>
        </div>
        
        <p style="margin: 20px; text-align: justify; background-color: white; padding: 25px; border-radius: 10px;">
            ¡Hola! Me llamo Nicolás Delfino. Soy argentino de Las Varillas, provincia de Córdoba. Soy músico independiente, toco batería y guitarra. Llevo compuestas más de 300 canciones.
            También soy fanático de la pesca, muy familiero y me encanta la programación.
            <br/><br/> 
            Actualmente me encuentro desarrollando este proyecto web, que fue diseñado con el fin de aprender Python y Django. Espero que les guste y lo puedan disfrutar. ¡Saludos!
        </p>
    </div>

{% endblock contenido %}