##formulario perro
{% extends "app_perros/base.html" %}

{% block contenido %}
<form action="{% url 'crear_perro' %}" method="post">
  {% csrf_token %}
  {{ formulario.as_p }}
  {{ formulario.errors }}
  <strong style="margin-bottom: 10px;">(En tamaño selecciona entre:*chico, mediano o grande)</strong>
  <br>
  <input type="submit" value="Agregar" style="margin-top: 10px;" />
</form>
{% endblock contenido %}

#### formulario_perro con los campos muy largos
{% extends "app_perros/base.html" %}

{% block contenido %}
<form action="{% url 'crear_perro' %}" method="post">
  {% csrf_token %}
  <div class="campo-formulario">
    <label for="{{ formulario.nombre.id_for_label }}">Nombre:</label>
    {{ formulario.nombre }}
    {{ formulario.nombre.errors }}
  </div>
  <div class="campo-formulario">
    <label for="{{ formulario.tamanio.id_for_label }}">Tamaño:</label>
    {{ formulario.tamanio }}
    {{ formulario.tamanio.errors }}
  </div>
  <div class="campo-formulario">
    <label for="{{ formulario.fecha_entrada.id_for_label }}">Fecha de entrada:</label>
    {{ formulario.fecha_entrada }}
    {{ formulario.fecha_entrada.errors }}
  </div>
  <br>
  <input type="submit" value="Agregar" />
</form>

<style>
  .campo-formulario {
    margin-bottom: 10px;
  }
  input[type="text"], select {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
</style>

{% endblock contenido %}

#### este esta bueno 
{% extends "app_perros/base.html" %}

{% block contenido %}
  <div style="width: 25%;">
    <form action="{% url 'crear_perro' %}" method="post">
      {% csrf_token %}
      <label for="{{ formulario.nombre.id_for_label }}">Nombre:</label>
      {{ formulario.nombre }}
      {{ formulario.nombre.errors }}
      <br><br>
      <div style="display: inline-block; width: 48%;">
        <label for="{{ formulario.tamanio.id_for_label }}">Tamaño:</label>
        {{ formulario.tamanio }}
        {{ formulario.tamanio.errors }}
      </div>
      <div style="display: inline-block; margin-left: 4%; width: 48%;">
        <label for="{{ formulario.fecha_entrada.id_for_label }}">Fecha de entrada:</label>
        {{ formulario.fecha_entrada }}
        {{ formulario.fecha_entrada.errors }}
      </div>
      <br><br>
      <input type="submit" value="Agregar" style="margin-top: 10px;" />
    </form>
  </div>
{% endblock contenido %}

######################################### html lista_perro original

{% extends "app_perros/base.html" %}

{% block contenido %}
<section>
  <div>
    <h1>Lista de perros</h1>
    <br>
    <ul>
    {% for perro in perros %}
      <li>{{ perro.nombre }}, {{ perro.tamanio }} (Ingresado para adopción el {{ perro.fecha_entrada|date:"d/m/Y" }})</li>
    {% endfor %}
    </ul>
  </div>
  <a class="btn btn-primary" href="{% url 'crear_perro' %}">Agregar Perro</a>
  <a class="btn btn-primary" href="{% url 'buscar_perros' %}">Buscar perro por tamaño</a>
</section>
{% endblock contenido %}

##########codigo de formulario_perro con botones en rojo eliminar y en azul editar grandes

{% extends "app_perros/base.html" %}

{% block contenido %}
<section>
  <div>
    <h1>Lista de perros</h1>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre y tamaño</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        {% for perro in perros %}
        <tr>
          <td>{{ perro.nombre }}, {{ perro.tamanio }} (Ingresado para adopción el {{ perro.fecha_entrada|date:"d/m/Y" }})</td>
          <td>
            <form action="{% url 'editar_perro' perro.id %}" method="get">
              <button class="btn btn-primary" type="submit">Editar</button>
            </form>
          </td>
          <td>
            <form action="{% url 'eliminar_perro' perro.id %}" method="post">
              {% csrf_token %}
              <button class="btn btn-danger" type="submit">Eliminar</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <a class="btn btn-primary" href="{% url 'crear_perro' %}">Agregar Perro</a>
  <a class="btn btn-primary" href="{% url 'buscar_perros' %}">Buscar perro por tamaño</a>
</section>
{% endblock %}

##### lista adoptante.html original #############################

{% extends "app_perros/base.html" %}

{% block contenido %}
<section>
  <div>
    <h1>Lista de adoptantes</h1>
    <br>
    <ul>
    {% for adoptante in adoptantes %}
      <li>{{ adoptante.apellido }}, {{ adoptante.nombre }}</li>
    {% endfor %}
    </ul>
  </div>
  <a class="btn btn-primary" href="{% url 'crear_adopcion' %}">Adoptar</a>
</section>
{% endblock contenido %}

######lista adoptantes con vistas basadas en clases ####


{% extends "app_perros/base.html" %}

{% block contenido %}
<section>
 <div>
   <h1>Lista de adoptantes</h1>
   <a href="{% url 'crear_adoptante' %}">Crear adoptante</a>
   <br>

   <table class="table">
     <tbody>
       <tr>
         <th>ID</th>
         <th>Nombre</th>
         <th>Apellido</th>
         <td></td>
         <td></td>
         <td></td>
       </tr>
       {% for adoptante in object_list %}
       <tr>
         <td>{{ adoptante.id }}</td>
         <td>{{ adoptante.nombre }}</td>
         <td>{{ adoptante.apellido }}</td>
         <td>
           <a href="{% url 'adoptante' adoptante.id %}">Ver</a>
         </td>
         <td>
           <a href="{% url 'editar-adoptante' adoptante.id %}">Editar</a>
         </td>
         <td>
           <a href="{% url 'eliminar-adoptante' adoptante.id %}">
             <i class="bi bi-trash"></i>
           </a>
         </td>
       </tr>
       {% endfor %}
     </tbody>
   </table>

 </div>
</section>
{% endblock contenido %}


######### FORMULARIO PERRRO ANTES DEL CAMBIO QUE ME DIO ESTEFI #########

{% extends "app_perros/base.html" %}

{% block contenido %}
<div style="width: 25%; margin: 0 auto;">
  <form action="{% url 'crear_perro' %}" method="post">
    {% csrf_token %}
    <div style="margin-bottom: 10px;">
      <label for="{{ formulario.nombre.id_for_label }}">Nombre:</label>
      {{ formulario.nombre }}
      {{ formulario.nombre.errors }}
    </div>
    <div style="margin-bottom: 10px;">
      <label for="{{ formulario.tamanio.id_for_label }}">Tamaño:</label>
      {{ formulario.tamanio }}
      {{ formulario.tamanio.errors }}
    </div>
    <div style="margin-bottom: 10px;">
      <label for="{{ formulario.fecha_entrada.id_for_label }}">Fecha de entrada:</label>
      <div style="display: inline-block;">
        {{ formulario.fecha_entrada }}
        {{ formulario.fecha_entrada.errors }}
      </div>
    </div>
    <div style="margin-top: 10px;">
      <input type="submit" value="Agregar"/>
    </div>
  </form>
</div>
{% endblock contenido %}

### html ver_mas ultima correccion mejorado todo a la izquierda 21/5 17hs######

{% extends 'app_perros/base.html' %}

{% block contenido %}
<section>
  <h1>Adoptame</h1>
  <table class="table">
    <tr>
      <td>
        {% if perro.foto %}
        <img src="{{ perro.foto.url }}" alt="{{ perro.nombre }}" style="max-width: 200px; max-height: 200px;">
        {% endif %}
      </td>
      <td>
        <style>
          .field-left {
            margin-left: -25cm; /* Ajusta este valor para controlar la distancia a la izquierda */
          }

          .field-left strong u {
            text-decoration: underline;
          }

          .descripcion-field {
            border: 1px solid #ccc;
            padding: 10px;
            background-color: #f9f9f9;
            height: 200px; /* Ajusta la altura según tus necesidades */
            width: 300px; /* Ajusta la anchura según tus necesidades */
            overflow: auto;
            word-wrap: break-word;
            margin-left: -25cm;
          }
        </style>
        
        <p class="field-left"><strong><u>Nombre</u>:</strong> {{ perro.nombre }}</p>
        <p class="field-left"><strong><u>Tamaño</u>:</strong> {{ perro.tamanio }}</p>
        <p class="field-left"><strong><u>Edad</u>:</strong> {{ perro.edad }} años</p>
        <p class="field-left"><strong><u>Raza</u>:</strong> {{ perro.raza }}</p>
        <p class="field-left"><strong><u>Género</u>:</strong> {{ perro.genero }}</p>
        <p class="field-left"><strong><u>Fecha de ingreso para adopción</u>:</strong> {{ perro.fecha_entrada }}</p>
        <p class="field-left"><strong><u>Descripción</u>:</strong></p>
        <div class="descripcion-field">{{ perro.descripcion|safe }}</div>
        
      </td>
    </tr>
  </table>
</section>
{% endblock contenido %}

###################viejo formulario avatar con imagen fija el error esta en el if, yelse

{% extends 'app_perros/base.html' %}
{% load static %}
{% block contenido %}
  <header>
    <nav>
      <ul>
        <li>
          {% if avatar %}
            <img src="{{ avatar.imagen.url }}" alt="Avatar">
          {% else %}
            <img src="{% static 'avatar/default-avatar.png.jpg' %}" alt="Default Avatar">
          {% endif %}
          {{ request.user.username }}
        </li>
        <!-- Resto de los elementos del menú -->
      </ul>
    </nav>
  </header>

  <section>
    <!-- Contenido de la página -->
  </section>
{% endblock %}


