{% extends "app_perros/base.html" %}

{% load static %}

{% block contenido %}
<form action="{% url 'crear_adopcion' %}" method="post">
  {% csrf_token %}
  {{ formulario.as_p }}
  {{ formulario.errors }}
  <input type="submit" value="Adoptar" />
</form>

<div class="static-image-container">
  <img src="{% static 'image/perro-adoptado.jpg' %}" alt="Imagen Estática">
</div>

<style>
.static-image-container {
  position: absolute;
  top: 3cm;
  left: 16cm;
  width: 200px;
  height: 200px;
  opacity: 0.80; /* Ajusta el valor de opacidad según tus preferencias */
  /* Otros estilos personalizados para el contenedor */
}
</style>

{% endblock contenido %}