{% extends "app_perros/base.html" %}

{% load static %}

{% block contenido %}
<form action="{% url 'crear_adopcion' %}" method="post">
  {% csrf_token %}
  <div class="field-container">
    {{ formulario.adoptante.label_tag }}
    {{ formulario.adoptante }}
  </div>
  <div class="field-container">
    <label>Perro:</label>
    <select name="{{ formulario.perro.name }}">
      <option value="">Todos los perros</option>
      {% for perro in formulario.perro.field.queryset %}
        <option value="{{ perro.id }}">{{ perro.nombre }} | {{ perro.tamanio }}</option>
      {% endfor %}
    </select>
  </div>
  {{ formulario.errors }}
  <div class="button-container">
    <input type="submit" value="Adoptar" />
  </div>
</form>

<div class="static-image-container">
  <img src="{% static 'image/perro-adoptado.jpg' %}" alt="Imagen Estática">
</div>

<style>
.field-container {
  margin-bottom: 1em;
}

.static-image-container {
  position: absolute;
  top: 3cm;
  left: 16cm;
  width: 200px;
  height: 200px;
  opacity: 0.80;
}

.button-container {
  margin-top: 1em;
}
</style>

{% endblock contenido %}