{% extends "app_perros/base.html" %}

{% load static %}

{% block contenido %}
<section>
  <div>
    <h1>Lista de perros en adopción</h1>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre y tamaño</th>
          <th>Editar</th>
          <th>Eliminar</th>
          <th>Ver mas</th>
          <th>Foto</th>  <!-- Nueva columna para la foto -->
        </tr>
      </thead>
      <tbody>
        {% for perro in perros %}
        <tr>
          <td>{{ perro.nombre }}, {{ perro.tamanio }} (Ingresado para adopción el {{ perro.fecha_entrada|date:"d/m/Y" }})</td>
          
          <td>
            {% if request.user == perro.creador %}
              <a href="{% url 'editar_perro' perro.id %}"><input type="submit" value="Editar"/></a>
            {% endif %}
          </td>
          <td>
            {% if user == perro.creador %}
            <form action="{% url 'eliminar_perro' perro.id %}" method="post">
              {% csrf_token %}
              <input type="submit" value="eliminar"/>
            </form>
            {% endif %}
          </td>

          <td>
            <a href="{% url 'ver_mas' perro.id %}">ver mas</a>
          </td>
            
          <td>
            {% if perro.foto %}
            <img src="{% static 'images/perro1.jpg' %}" alt="{{ perro.nombre }}" style="max-width: 200px; max-height: 200px;">
            {% else %}
              No hay foto disponible.
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <a class="btn btn-primary" href="{% url 'crear_perro' %}">Agregar Perro</a>
  <a class="btn btn-primary" href="{% url 'buscar_perros' %}">Buscar perro por tamaño</a>
</section>
{% endblock contenido %}