{% extends "app_perros/base.html" %}

{% block contenido %}
<section>
  <div>
    <h1>Adoptá y salvá una vida</h1>
    <br>
    <ul>
    {% if request.user == adopciones.creador %}  
    {% for adopcion in adopciones %}
      <li>{{ adopcion.adoptante }}, adoptaste el perro {{ adopcion.perro }} el día {{adopcion.fecha_adopcion}} ¡Felicidades!</li>
    {% endfor %}
    {% endif %}

    </ul>
  </div>
  <a class="btn btn-primary" href="{% url 'crear_adoptante' %}">Crearme adoptante</a>
</section>
{% endblock contenido %}