{% extends "app_perros/base.html" %}

{% load static %}

{% block contenido %}
<section>
  <div>
    <h1 style="text-align: center; margin-top: 20px; border: 2px solid black; padding: 10px;">Lista de perros en adopción</h1>
    <br>
    <table class="table" style="border-collapse: collapse;">
      <thead style="border-bottom: 1px solid black;">
        <tr>
          <th>Nombre y tamaño</th>
          <th>Editar</th>
          <th>Eliminar</th>
          <th>Ver mas</th>
          <th style="padding-left: 2cm;">Foto</th>
        </tr>
      </thead>
      <tbody>
        {% for perro in perros %}
        <tr style="border-top: 1px solid #888; border-bottom: 1px solid #888;">
          <td>{{ perro.nombre }}, {{ perro.tamanio }} (Ingresado para adopción el {{ perro.fecha_entrada|date:"d/m/Y" }})</td>
          
          <td>
            {% if request.user == perro.creador %}
              <a href="{% url 'editar_perro' perro.id %}"><input type="button" value="Editar"/></a>
            {% endif %}
          </td>
          <td>
            {% if user == perro.creador %}
            <form action="{% url 'eliminar_perro' perro.id %}" method="post">
              {% csrf_token %}
              <input type="submit" value="eliminar"/>
            </form>
            {% endif %}
          </td>

          <td>
            <a href="{% url 'ver_mas' perro.id %}">ver mas</a>
          </td>
            
          <td>
            {% if perro.foto %}
            <img src="{{ perro.foto.url }}" alt="{{ perro.nombre }}" style="max-width: 200px; max-height: 200px;">
            {% endif %}
          </td>
        
        <tr>
          <td colspan="5" style="border-top: 1px solid #888;"></td>
        </tr>
        
        {% endfor %}
      </tbody>
    </table>
  </div>
  <a class="btn btn-primary" href="{% url 'crear_perro' %}">Agregar Perro</a>
  <a class="btn btn-primary" href="{% url 'buscar_perros' %}">Buscar perro por tamaño</a>
</section>
{% endblock contenido %}